html,
body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}


/* Actualites */

.global {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 73vh;
    background-color: #f0f6ff;
    padding-bottom: 30px;
}



.titre {

    width: 70%;
    height: 10vh;
    /* border: solid red; */

}



.titre-1 {

    width: 70%;
    height: 80vh;
    /* border: solid red; */
    display: flex;

}

.gauche {

    width: 50%;
    /* border: solid blue; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;

}


.square {
    width: 45%;
    height: 30vh;
    /* border: solid 1px purple; */
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-size: cover;
}



/* .square:nth-child(odd){

display: flex;

justify-content: space-between;

border: solid red;

background-size: cover;



} */

.square1 {
    background-image: url('../img/home/velo_course_2.png');
}

.square2 {
    background-image: url('../img/home/velo_course_3.png');
}

.square3 {
    background-image: url('../img/home/velo_course_4.png');
}

.square4 {
    background-image: url('../img/home/velo_course_5.png');
}

.ss_square {
    background-color: #ffd500;
    /* top:220px;
    position: absolute;
    z-index: 1; */
    width: 80%;
    height: 60px;
    margin-bottom: 10px;
}



.droite {
    width: 50%;
    /* border: solid green; */
    display: flex;
    /* align-items: center; */
}



.squared {
    width: 100%;
    height: 62.5vh;
    background-repeat: no-repeat;
    background-size: cover;

}


.ss_square5 {

    background-color: #ffd500;
    top: 520px;
    right: 265px;
    position: absolute;
    width: 30%;
    height: 60px;
    margin-bottom: 40px;
}

.square5 {
    /* border: solid red; */
    background-image: url('../img/home/velo_course.png');
}


/* FIN Actualites */

.container {
    max-width: 900px;
    margin: auto;
    width: 95%;
}

.section_blue {
    background-color: #f0f6ff;
    padding: 35px;

}

.section_white {
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 35px;

}

.img_block {
    position: relative;
    text-align: center;
    color: black;
}

.chevron {
    margin-top: 80px;
}

.chevron_bot {
    margin-left: 15px;
}

.logo_center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 2.1rem;
    text-transform: uppercase;
    color: #575859;

    border-bottom: 3px solid;
}


.text_rounded {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    color: #575859;

}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    color: #2e374b;
}


.border {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-bottom: 3px solid;
    width: 55px;
    color: #575859;
}

.rectangle_img {
    position: absolute;
    bottom: -9%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.text_rectangle {
    position: absolute;
    bottom: 5%;
    text-align: left !important;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #575859;
}

h1 span {
    border-top: solid #ffda00 5px;
}

#row {
    display: flex;
}

img {
    margin-right: 10px;
}

.img_border_rounded {
    border-style: solid;
    border-color: #ffd800;
    border-width: 7px;
    border-radius: 140px;
}

.img_border {
    border-style: solid;
    border-color: #ffd800;
    border-width: 7px;
}

.bas_accueil {
    display: flex;
    justify-content: space-around;
}

.moitié {
    width: 50%;
}

#img_espagne {
    width: 100%;
}

#discover {
    float: right;
    border-bottom: 3px solid;
    color: #575859;
}

.ligne_course {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.small_img {
    height: 12px;
}

.background_gris {
    background-color: #eeeeee;
    padding: 8px;

}


.calendrier {

    width: 70px;
    height: 70px;
    text-align: center;
    margin-right: 15px;

}

.mois {
    width: 100%;
    margin: 0;
    background-color: #ffdc00;
}

.mois p {
    margin: 0;
}

.jour h2 {
    margin-bottom: 1px;
    font-size: 2.2rem;

}

.jour {
    width: 100%;
    margin: 0;
    background-color: white;
}