html, body{
    font-size: 62.5%;
    margin:0;
    padding:0;
  }

.container{
    max-width: 900px;
    margin:auto;
    width: 95%;
}

.section_blue{
    background-color:#f0f6ff;
    padding: 35px;
    height : 580px

}

.section_white1{
    margin-top : -140px;
    margin-bottom : 80px;
    padding: 35px;

}

.section_white{
    margin-top : 80px;
    margin-bottom : 80px;
    padding: 35px;

}

.img_block{
    position: relative;
    text-align: center;
    color: black;
}

.chevron{
    margin-top : 80px;
}



.text_center {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    font-family : 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    width : 100%;
    color : #575859; 
    
}

.border{
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-bottom : 3px solid;
    width : 55px;
    color : #575859; 
}

.rectangle_img{
    position: absolute;
    bottom: -9%;
    left : 48%;
    transform: translate(-50%, -50%);
}

.text_rectangle{
    position: absolute;
    bottom: 5%;
    text-align : left !important;
    padding-left : 5%;
    font-family : 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color : white; 
}


h1,h2{
    font-family : 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color : #575859; 
}

h1 span{
    border-top: solid #ffda00 5px;
}

#row{
    display : flex;
}
img{
    margin-right : 10px;
}

.img_border{
    border-style: solid;
    border-color: #ffd800;
    border-width : 7px;
}


.sidenav {
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 120px;
    background: #2f374a;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav img {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}